// Normalize Errthing
@import 'normalize';

/******************************
= Base
******************************/

*{ @include box-sizing(border-box); }
body{
	font: normal 62.5em/1.8em $sans;
}
h1,h2,h3,h4,h5,h6{
	a{ 

		@include breakpoint(desktop) { &:hover{
			
		}}
	}
}
h1{ font-size: 2.6em; }
h2{ font-size: 2.4em; }
h3{ font-size: 2.2em; }
h4{ font-size: 2.0em; }
h5{ font-size: 1.8em; }
h6{ font-size: 1.6em; }
p,li{ font-size: 1.3em; }
ul{ margin: 0; padding: 0; list-style: none; }
a{
	color: red;

	@include breakpoint(desktop) { &:hover{

	}}
}
.button{
	font-size: 1.3em;

	@include breakpoint(desktop) { &:hover{

	}}
}

/******************************
= Text Highlight
******************************/

::selection { }
::-moz-selection { }

/******************************
= Clearfix
******************************/

.clearfix{
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/******************************
= Grid Base
******************************/

$padding: 10px;
.wrap{
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}
.grid{ padding-left: $padding; clear: both; }
[class*=grid-]{
  float: left;
  width: 100%;
  padding-right: $padding;
  margin-bottom: $padding;
}