/******************************
= Fonts
******************************/

$sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;

/******************************
= Colors
******************************/

$red: red;
